* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bfcfbb5e;
}

.header {
    font-size: 70px;
    text-align: center;
    color: #333;
    padding: 1rem;
}

.profile {
    text-align: center;
}

.profile img {
    width: 250px;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.profile p {
    line-height: 26px;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-bottom: 3rem;
}

.portfolio {
    color: #333;
    font-size: 28px;
    margin-bottom: 3rem;
    text-align: center;
}

.container-portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 3rem;
    color: #333;
    padding: 2rem;
}

.portfolio-certificate {
    /* border: 1px solid #333; */
    padding: 20px;
    border-radius: 10px;
}

.portfolio-certificate img {
    width: 250px;
    margin-bottom: 1rem;
}

.portfolio-certificate h3 {
    font-size: 23px;
    margin-bottom: 10px;
}

.portfolio-certificate p {
    font-size: 18px;
    line-height: 20px;
    text-align: left;
}