* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

header {
    height: 600px;
    background-color: #84593d;
}

nav {
    margin: 0 2rem;
}

.nav-wrapper {
    position: relative;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #ffe2b5;
    text-decoration: none;
    font-size: 48px;
    font-weight: bold;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-left: 50px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.content-title-wrapper {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.content-title-text {
    margin-top: 5rem;
    width: 450px;
    padding: 1rem;
}

.content-title-text h1 {
    color: #fff;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: .5rem;
}

.content-title-text p {
    color: #ffe2b5;
    font-size: 18px;
    margin-bottom: 3rem;
}

.titel-text-btn {
    color: #ffe2b5;
    font-weight: bold;
    border: 3px solid #ffe2b5;
    padding: 1rem 2rem;
    border-radius: 20px;
    text-decoration: none;
}

.content-title-img {
    width: 300px;
    height: 400px;
}

.content-title-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 1rem;
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
}

.menu-section {
    background-color: #b7957f;
    padding: 2rem;
    padding-bottom: 4rem;
}

.menu-section-title {
    text-align: center;
    color: #491f00;
    font-size: 32px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.menu-layout {
    display: flex;
    gap: 20px;
}

.menu-box {
    flex: 2;
    background: #ffffff61;
    padding: 2rem;
    border-radius: 10px;
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
}

.menu-box h3 {
    color: #491f00;
    font-size: 23px;
    font-weight: bold;
    padding-left: 10px;
    text-align: center;
    margin-bottom: 2rem;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin-top: 15px;
}

.menu-card {
    color: #4c2b08;
    width: 160px;
    background: #f9f9f99f;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
}

.menu-card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.menu-card button {
    margin-top: 8px;
    width: 100%;
    padding: 6px;
    border: none;
    border: 3px solid #6f4e37;
    color: 6f4e37;
    border-radius: 5px;
    cursor: pointer;
}

.menu-card button:hover {
    background: #b7957f;
    color: #fff;
}

.cart-box {
    flex: 1;
    background: #ffffff61;
    padding: 15px;
    border-radius: 10px;
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
}

.cart-box h3 {
    font-size: 23px;
    color: #491f00;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.3rem;
}

.cart-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 15px;
}

.cart-img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 8px;
}

.cart-card {
    display: flex;
    align-items: center;
    background: #f9f9f99f;
    justify-content: space-between;
    padding: 10px;
    border-radius: 8px;
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
}

.cart-card-l {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-info h4 {
    margin: 0;
    color: #4c2b08;
}

.cart-info p {
    margin: 2px 0 0;
    font-size: 14px;
    color: #555;
}

.cart-qty {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cart-qty button {
    width: 25px;
    height: 25px;
    border: none;
    background: #6f4e37;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.cart-qty button:hover {
    background: #5a3d2b;
}

.cart-total {
    margin-top: 15px;
    text-align: right;
    font-size: 16px;
}

.footer {
    padding: 2rem 1rem;
    text-align: center;
    color: #2f2f2f;
    background-color: #6d3914;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
}

.footer-social {
    margin-bottom: 1.5rem;
}

.footer-social a {
    color: rgba(255, 255, 255, 0.8);
    margin: 0 10px;
    font-size: 1.3rem;
    transition: 0.3s;
}

.footer-copy {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.6);
}

.footer-copy span {
    color: #ffe2b5;
    font-weight: 600;
}


@media (max-width: 767px) {

    .container {
        padding: 0 1rem;
    }

    .nav-wrapper {
        flex-direction: column;
        height: auto;
        gap: 10px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .menu li {
        margin-left: 0;
    }

    .content-title-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .content-title-text {
        width: 100%;
        text-align: center;
        margin-top: 2rem;
    }

    .content-title-img {
        width: 90%;
        height: 300px;
    }

    .menu-layout {
        flex-direction: column;
    }

    .menu-box,
    .cart-box {
        width: 100%;
    }

    .menu-list {
        justify-content: center;
    }

    .menu-card {
        width: 45%;
    }

}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 95%;
    }

    .content-title-wrapper {
        gap: 50px;
    }

    .content-title-text {
        width: 100%;
    }

    .menu-layout {
        flex-direction: column;
    }

    .menu-box,
    .cart-box {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    header {
        height: auto;
        padding-bottom: 3rem;
    }

    .nav-wrapper {
        flex-direction: column;
        height: auto;
        padding: 1rem 0;
    }

    .menu {
        margin-top: 1rem;
        padding: 0;
    }

    .menu li {
        margin: 0 15px;
    }

    .menu li a {
        font-size: 16px;
    }

    .content-title-wrapper {
        flex-direction: column-reverse;
        align-items: center;
        gap: 2rem;
        text-align: center;
    }

    .content-title-text {
        margin-top: 2rem;
        width: 100%;
    }

    .content-title-text h1 {
        font-size: 32px;
    }

    .content-title-img {
        width: 100%;
        max-width: 300px;
        height: 300px;
    }

    .menu-list {
        justify-content: center;
    }

    .menu-card {
        width: 45%;
        min-width: 150px;
    }

    .cart-card {
        flex-direction: row;
        justify-content: space-between;
    }

    .cart-img {
        width: 50px;
        height: 50px;
    }
}